/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body {  margin: 0; font-size: 13px; line-height: 1.231; background: -webkit-gradient(linear, left top, left bottom, from(#e3f4fb), to(#c8e9f8));
background: -moz-linear-gradient(top,  #e3f4fb,  #c8e9f8);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3f4fb', endColorstr='#c8e9f8');
}

body, button, input, select, textarea { font-family: sans-serif; color:#464646;}

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #C8E9F8; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA-33713627-1 stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
h1, h2, h3, h4, h5, h6{
	font-family: 'Abel', sans-serif;
}

p{
	font-family: 'Nobile', sans-serif;
}
#container{
	margin:0 auto;
	width:100%;
	overflow:hidden;
}
header{
	margin: 0px auto;
	padding: 0px;
	height: 150px;
	max-width: 960px;
	background:#FFFFFF url(img/logo.jpg) no-repeat left top;	
}
header h1{
	margin:10px 0px 0px 105px;
	font-size:52px;
	letter-spacing:3px;
}
header h2{
	margin:0px 0px 0px 105px;
	font-size:16px;
	letter-spacing:3px;
}
header nav{
	margin:10px 0px 0px 10px;
	font-size:16px;
	letter-spacing:1px;
	padding:10px 0px 10px 0px;
}
header nav ul{
	list-style:none;
	margin:0px;
}
header nav ul li{
	float:left;
	margin:0px 24px 0px 0px;
}
header nav ul li a, header nav ul li a:visited{
	text-decoration:none;
	color:#177abf;
	font-weight:bold;
}
header .call-to-action{
	position:absolute;
	top: 0; 
	right: 0; 
	border: 0;
}
footer{
	margin: 0px auto;
	padding: 0px;
	max-width: 960px;
	background:#dceff8;
	font-family: 'Nobile', sans-serif;
	text-shadow: 0 1px 0 white;
}
footer a, footer a:visited{
	text-decoration:none;
	color:#177abf;
}
footer h2{
	margin:10px 0px 10px 0px;
	font-size:20px;
}

footer .copyright{
	font-family: 'Abel', sans-serif;
	background:#e3f4fb;
	margin:0px;
	padding:10px;
	text-align:right;
	font-size:12px;
}
footer .contact{
	float:left;
	width:310px;
	padding:5px 5px 5px 10px;
}
footer .contact p{
	font-size:15px;
	color:#177abf;
}
footer .contact img{
	padding-right: 8px;
	position: relative;
	top: -2px;
}
footer .map{
	float:left;
	width:310px;
	padding:5px 5px 5px 10px;
}
footer .dentist{
	float:left;
	width:310;
	padding:5px 5px 5px 10px;
}
#main{
	max-width: 960px;
	margin:0 auto;
	min-height:500px;
	text-shadow: 0 1px 0 #CCCCCC;
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4fafe));
	background: -moz-linear-gradient(top,  #fefefe,  #f4fafe);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f4fafe')
}
.content{
	padding:10px;
}
section.staff article.content{
	min-height:250px;
}

article p{
	padding:5px 5px 5px 5px;
	line-height:20px;	
}
hgroup.title{
	padding:10px;
}
hgroup.title h2{
	font-size:30px;
	padding:5px 5px 5px 5px;
	line-height:28px;	
	margin:0px;
	color:#177ABF;
}
article h3{
	font-size:26px;
	padding:5px 5px 5px 5px;
	line-height:32px;	
	margin:0;
}
article img.align-right{
	float:right; 
	margin: 0px 0px 15px 15px;
	background:#eff8ff;
	padding:10px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	
}
article img.align-left{
	float:left; 
	margin: 0px 15px 15px 0px;
	background:#eff8ff;
	padding:10px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	
}
article a, article a:visited, article a:hover{
	text-decoration:none;
	color:#177abf;
}
/* Slider */
#slider {
	width:900px;
    margin: 0 auto;
    position: relative;
}

.scroll {
    height: 700px;
    width: 900px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
    background: #FFFFFF scroll left bottom;
}

.scrollContainer article {
    padding: 20px;
    width: 860px;
}

#shade {
    background: #EDEDEC url(images/shade.jpg) no-repeat 0 0;
    height: 50px;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 9px;
font-size:12px;
}

ul.navigation li {
    display: inline;
    margin-right: 5px;
}

ul.navigation a {
    padding: 3px;
    color: #000;
    text-decoration: none;
}

ul.navigation a:hover {
    background-color: #f6f6f6;
}

ul.navigation a.selected {
    background-color: #fff;
}

ul.navigation a:focus {
    outline: none;
}

.scrollButtons {
    position: absolute;
    top: 150px;
    cursor: pointer;
}

.scrollButtons.left {
    left: -20px;
	z-index:9999;
}

.scrollButtons.right {
    right: -20px;
	z-index:9999;
}

.hide {
    display: none;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

article img{
}
article img.home{
	float:none;
	margin:0px 0px 5px;
	width:260px;
}
header{
	height:140px;
	text-align:center;
}
header hgroup{
	height:83px;
}
header nav{
	margin:10px 0px;
	display:block;
	font-size:11px;
	letter-spacing:1px;
	padding:3px 8px;
}
header nav ul li{
	float:left;
	margin:0px 8px 0px 0px;
}
.content{
	padding:0px 8px 8px;
}
header h1{
	margin:10px 0px 0px 0px;
	font-size:22px;
	letter-spacing:3px;
	padding:2px;
}
header h2{
	margin:0px 0px 0px 0px;
	font-size:12px;
	letter-spacing:3px;
}
hgroup.title{
	padding:3px;
}
hgroup.title h2{
	font-size:22px;
}
.scrollContainer article {
    padding: 20px;
    width: 300px;
}
#slider{
	width:320px;
}
.panel img{
	width:100px;
}
ul.navigation{
	padding:0px 10px;
}
ul.navigation li {
    display: inline;
    margin: 0px;
	line-height:16px;
}
}

@media only screen and (max-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
footer .contact, footer .map, footer .dentist{
	width:100%;
}
}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
