---
layout: default
title: 'Meet Our Doctors and Staff'
excerpt: 'Abt & Willis offers only the best dental services to Skokie and the surrounding area. Call today to start smiling.'
---
<section class="hero">
	<div class="content">
		<div class="col span-2 empty"></div>
		<div class="col span-8">
			<h3 class="text-center">Meet Our Doctors and Staff</h3>
			<img src="/assets/img/our-staff.jpg" alt="The Staff" width="100%"/>
		</div>
		<div class="col span-2 empty"></div>
	</div>
</section>
	{% for post in site.posts %}
	  {% for cat in post.categories %}
	    {% if cat == 'staff' %}
		{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
		{% if thecycle == 'odd' %}
		
		<section class="alt-hero">
			<div class="content gutters">
				{{post.content}}
			</div>
		</section>
		
		
 {% else %}
		<section class="hero">
			<div class="content gutters">
				{{post.content}}
			</div>
		</section>
  {% endif %}
	    {% endif %}
	  {% endfor %}
	{% endfor %}
