// BRAND FEEDBACK MESSAGING
$warning-color					:#f0ad4e;
$error-color					:#d9534f;
$success-color					:#5cb85c;

//BRAND PRIMARY COLORS (BLUES)
$primary-color					:#177abf;
$primary-dark					:#00e;
$primary-light					:#dceff8;

//BRAND SECONDARY (AZURE)
$secondary-color				:#1e3746;
$secondary-light				:#edebf0;

//BRAND TERTIARY (GOLD)
$tertiary-color					:#ffca17;

//BRAND GRAYSCALE
$charcoal						:#383838;
$silver							:#C0C0C0;
$white 							:#ffffff;
$off-white 						:#f2f2f2;
$gray							:#dedede;
$dark-gray						:#333333;
$black							:#000000;