body {padding:0; margin:0; background-color:#585858}
body, td, input, textarea{
	font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
	color:#A1A1A1;
	line-height:18px;
	vertical-align:top;
	padding:0px;
}

br{font-size:10px}
table{border:0px; border-collapse:collapse;	}

a{color:#BDBDBD; text-decoration:underline} 
a:hover{text-decoration:none}

b{ color:#BDBDBD}
.set2 td{ vertical-align:middle}
.a{ color:#BDBDBD; font-size:16px}
.a1{ color:#CCCCCC; font-size:18px}
.a2{ color:#A1A1A1; font-size:11px}
.w{ color:#BDBDBD; font-size:13px; line-height:15px}
.g{ color:#C6E144; font-size:11px}
.a3{ color:#DBDBDB; font-size:11px}
.a4{ color:#DBDBDB; font-size:12px}

ul{margin:0; padding:0; list-style:none; line-height:17px}
li{background:url(images/1_z2.gif)  center left no-repeat; margin:0px; padding-left:8px }
li a{color:#DBDBDB;} 

.more{background:url(images/1_z1.gif)  center right no-repeat; padding-right:8px; padding-bottom:3px; color:#EDEDED; font-weight:bold; text-decoration:none}
.more:hover{text-decoration:underline}
 
.footer td{color:#A1A1A1;} 
.footer a {color:#A1A1A1; } 

.set td{ color:#DBDBDB}
.set { color:#DBDBDB}
.set a{ color:#DBDBDB}

input{
   background:#3B3B3B;
   border:1px solid #A1A1A1;
   padding-left:5px;
   width:203px; height:21px;
}
textarea{
   background:#3B3B3B;
   border:1px solid #A1A1A1;
   padding-left:5px;
   width:203px; height:118px;
   overflow:auto}
   
#input1{
   background:#FFFFFF;
   border:1px solid #CAD3D8;
   padding-left:8px;
   width:125px; height:16px;
   color:#748184;
   vertical-align:middle;
   font-size:10px; margin-right:5px
}
#input2{
   border:0px;
   padding-left:0px;
   width:61px; height:16px;
   vertical-align:middle
}
#input3{
   padding-left:0px;
   width:49px; height:17px;
   border:0px;
   margin-left:4px
}
#input4{
   padding-left:0px;
   width:60px; height:17px;
   border:0px;
   margin-left:11px
}
