    <footer>
		<div class="content gutters">
			<div class="col span-2 empty"></div>
			<div class="col span-4">
				<section class="contact clearfix">
					<h2>Schedule an Appointment Today</h2>
					<ul class="unstyled spaced-list">
					<li><a href="tel:+18476772404"><img src="/assets/img/phone.png" alt="Call Us" height="32px" width="32px"/>Phone: 847.677.2404</a></li>
					<li><img src="/assets/img/fax.png" alt="Fax Us" height="32px" width="32px"/>Fax: 847.677.7432</li>
					<li><img src="/assets/img/email.png" alt="Email Us" height="32px" width="32px"/><a href="mailto:abtandwillis@gmail.com" title="Contact Us About Your Dental Needs">Send Us An Email</a></li>
					<li><img src="/assets/img/facebook.png" alt="Like Us on Facebook" height="32px" width="32px"/><a href="http://www.facebook.com/AbtWillisDentistry" title="Like Us on Facebook">Visit Us On Facebook</a></li>
				</ul>
					<h2>For Our Patients</h2>
					<ul class="unstyled spaced-list">
					<li><a href="/downloads/patient-welcome.pdf">Patient Welcome Packet</a></li>
					<li><a href="directions.html">Directions</a></li>
					<li><a href="financial-options.html">Payment Options</a></li>
					<li><a href="/downloads/HIPAA.pdf">Notices of Privacy Practices</a></li>
				</ul>
				</section>
			</div>
			<div class="col span-4">
				<section class="map">
					<h2>Get Directions to Our Offices</h2>
					<iframe width="90%" height="90%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?cid=61926973207211240&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;t=m&amp;vpsrc=&amp;ll=42.054901,-87.74394&amp;spn=0.00478,0.006437&amp;z=16&amp;output=embed"></iframe><p class="small">4709 W. Golf Road, Suite 1005, Skokie, Illinois 60076<br/>View <a href="http://g.co/maps/5hmrr" target="_blank">Abt &amp; Willis</a> in a larger map</p>
				</section>
				<section class="dentist">
					<a href="http://ebd.ada.org" target="_blank"><img src="http://ebd.ada.org/~/media/EBD/Images/AffiliateButtons/EBD-Web-Button_125x125.ashx" class="ada" alt="http://www.ebd.ada.org" border="0" /></a>
				</section>
			</div>
<div class="col span-2 empty"></div>
		</div>
		
		
		
		<p class="copyright text-center">
		Copyright &copy; <script>var dteNow = new Date();
		var intYear = dteNow.getFullYear();
		document.write(intYear);</script> Elliot Abt, D.D.S., M.S., M.Sc. &amp; Paul J. Willis, D.D.S. All Rights Reserved.
	</p>
    </footer>

  <script>
    window._gaq = [['_setAccount','UA-33713627-1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

