<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }} | {{ site.title }} </title>
    <meta name="description" content="{{ page.excerpt }}">
	<meta name="author" content="Elliot Abt, D.D.S., M.S., M.Sc.,  Paul J. Willis, D.D.S. and Dr. Ashley Kauffman, D.D.S.">
	<meta name="keywords" content="{{ page.tags }}">
	<meta itemprop="image" content="/favicon-194x194.png">
	<link href='http://fonts.googleapis.com/css?family=Abel|Nobile:400,400italic,700' rel='stylesheet' type='text/css'>
    <link media="all" rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ site.baseurl | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<!-- <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#b91d47">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff"> -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Dentist",
    "address": {
    "@type": "PostalAddress",
    "addressLocality": "Skokie",
    "addressRegion": "IL",
    "postalCode":"60076",
    "streetAddress": "Suite 1005, 4709 W. Golf Road"
    },
    "url": "http://www.abt-willis.com/index.html",
    "email": "mailto:abtandwillis@gmail.com",
    "logo": "http://abt-willis.com/css/img/logo.jpg",
    "description": "As conservative practitioners, we strive to provide the most stable and predictable treatment for our patients, which includes saving and maintaining natural teeth for as long as possible.",
    "name": "Abt & Willis",
    "telephone": "847-677-2404",
    "openingHours": ["Mo,Tu,We,Th,Fr 08:00-17:00",
    "Sa 09:00-13:00"],
    "geo": {
    "@type": "GeoCoordinates",
    "latitude": "42.054271",
    "longitude": "-87.744096"
    },      
    "sameAs" : [ "https://www.facebook.com/AbtWillisDentistry",
    "http://www.yelp.com/biz/abt-and-willis-dds-skokie",  
    "https://plus.google.com/112546599411476079055/about" ]
    },
    "hasMap": "https://goo.gl/maps/pnSBbfc1qtH2",
    "additionalType": "http://www.productontology.org/id/Dentist",
  }
</script>
</head>
