		<div class="content">
			<div class="col span-2 empty"></div>
			<div class="col span-8">
		<nav class="menu">
			<ul class="unstyled text-center">
				<li><a href="index.html">Home</a></li>
				<li><a href="new-patient-information.html">New Patient?</a></li>
				<li><a href="financial-options.html">Financial Options</a></li>
				<li><a href="dental-services.html">Services</a></li>
				<li><a href="doctors-staff.html">Our Staff</a></li>
				<li><a href="directions.html">Directions</a></li>
				<li><a href="contact-us.html">Contact</a></li>
			</ul>
		</nav>
			</div>
			<div class="col span-2 empty"></div>
			
	</div>