h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	margin: 0 0 15px 0; /* 0px margin on all sides except bottom */
	padding: 0;
}
p, h2, li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: 100;
	color: #000000;
}

.subtitle {
	font-weight: bold;
}

/* CSS navigation; http://www.webcredible.co.uk/user-friendly-resources/css/css-navigation-menu.shtml */

#nav-menu ul /* remove bullets from navigation list */
{
list-style: none;
padding: 0;
margin: 0;
}

#nav-menu li  /* display navigation list 1 line horizontally via 'float' */
{
float: left;
white-space: nowrap; 
border:none;
margin: 0 1.2em; /* display 0 margins except on left and right */
padding: 0;
text-align: center
}

#nav-menu li a
{
/*background: url(background.gif) #fff bottom left repeat-x; */
height: 1em;
line-height: 1em;
float: left;
width: 6em;
display: inline;
color: #0d2474;
text-decoration: none;
text-align: center;
}

/* Commented backslash hack hides rule from IE5-Mac \*/
#nav-menu li a
{
float: none
}
/* End IE5-Mac hack */

#nav-menu /* assign menu width; if we don't menu items on the right may be pushed below the others if users resize their screens */
{
width:750px
}

/* end CSS navigation --->*/

a:link { /* change link colors for official site */
	color: #B23023;
	text-decoration: none;
}
a:hover {
	color: #FE382A;
	text-decoration: underline;
}
a:visited {
	color: #908475;
	text-decoration: none;
}
